#tabbrowser-tabbox {
  margin: 8px;
  border: var(--border-width) solid var(--border);
  border-radius: var(--rounding);
  padding: 8px;
  transition: border-color var(--border-transition);
  &:hover {
    color: var(--accent);
    border-color: var(--accent) !important;
  }
  &::before {
    content: "main";
    background-color: var(--bg);
    position: absolute;
    margin: -20px 4px;
    padding: 0 4px;
    z-index: 2;
    font-size: 1.15em;
  }
}

:root[inFullscreen="true"] {
  #tabbrowser-tabbox {
    margin: 0;
    border: none;
    padding: 0;
    transition: none;
    &::before {
      display: none;
    }
  }
}
