findbar {
  margin: 1rem 0rem 0rem !important;
  border: var(--border-width) solid var(--tf-border) !important;
  background: var(--tf-bg) !important;
  border-radius: var(--tf-rounding);
  padding: 8px 0 !important;
  transition: border-color var(--tf-border-transition);
  &:hover {
    color: var(--tf-accent);
    border-color: var(--tf-accent) !important;
    &::before {
      color: var(--tf-accent);
    }
  }

  &::before {
    display: var(--tf-display-titles);
    content: "find";
    background-color: var(--tf-bg);
    position: absolute;
    margin: -1.75rem .75rem;
    padding: 0 4px;
  }
}

.findbar-textbox {
  border: var(--border-width) solid var(--tf-border) !important;
  background: var(--tf-bg) !important;
}

.findbar-container > checkbox {
  text-transform: var(--tf-text-transform);
}
