findbar {
  margin: 8px !important;
  border: var(--border-width) solid var(--tf-border) !important;
  background: var(--tf-bg) !important;
  border-radius: var(--tf-rounding);
  padding: 8px 0 !important;
  transition: border-color var(--tf-border-transition);
  &:hover {
    color: var(--tf-accent);
    border-color: var(--tf-accent) !important;
    &::before {
      color: var(--tf-accent);
    }
  }

  &::before {
    content: "find";
    background-color: var(--tf-bg);
    position: absolute;
    margin: -18px 4px;
    padding: 0 4px;
    font-size: 1.15em;
  }
}

.findbar-textbox {
  border: var(--border-width) solid var(--tf-border) !important;
  background: var(--tf-bg) !important;
}

.findbar-container > checkbox {
  text-transform: lowercase;
}
