#sidebar-box {
  margin: 8px;
  border: var(--border-width) solid var(--tf-border);
  border-radius: var(--tf-rounding) !important;
  transition: border-color var(--tf-border-transition);
  &:hover {
    border-color: var(--tf-accent) !important;
  }
  &::before {
    content: "tabs";
    color: var(--lwt-text-color);
    background-color: var(--tf-bg);
    position: absolute;
    margin: -12px 12px;
    padding: 0 4px;
    font-size: 1.15em;
  }
  &:hover::before {
    color: var(--tf-accent);
  }
}

#sidebar {
  border-radius: var(--tf-rounding);
}

#sidebar-header {
  display: none;
}

#sidebar-splitter {
  display: none;
}
