box#vertical-tabs {
  margin: 8px !important;
  border: var(--border-width) solid var(--tf-border);
  border-radius: var(--tf-rounding);
  padding: 8px 0px !important;
  transition: border-color var(--tf-border-transition);
  &:hover,
  &:focus {
    border-color: var(--tf-accent) !important;
  }
  &::before {
    display: var(--tf-display-titles);
    content: "tabs";
    background-color: var(--tf-bg);
    position: absolute;
    margin: -1.75rem .75rem;
    padding: 0 2px;
  }
  &:hover::before {
    color: var(--tf-accent);
  }
}

/* hide window controls */
.titlebar-buttonbox-container {
  display: var(--tf-display-window-controls);
}

#TabsToolbar {
  display: var(--tf-display-horizontal-tabs);
  margin: 8px 8px 2px;
  border-top: var(--border-width) !important;
  border-style: solid !important;
  border-width: var(--border-width);
  border-color: var(--tf-border) !important;
  border-radius: var(--tf-rounding);
  transition: border-color var(--tf-border-transition) !important;
  &:hover,
  &:focus {
    border-color: var(--tf-accent) !important;
    &::before {
      color: var(--tf-accent);
    }
  }
  &::before {
    display: var(--tf-display-titles);
    content: "tabs";
    background-color: var(--tf-bg);
    position: absolute;
    margin: -1rem .75rem;
    padding: 0 2px;
  }

  #firefox-view-button[open] > .toolbarbutton-icon,
  .tab-background:is([selected], [multiselected]) {
    box-shadow: none !important;
    background-color: var(--tab-selected-bgcolor) !important;
  }
  .tabbrowser-tab:hover
    > .tab-stack
    > .tab-background:not([selected], [multiselected]) {
    background-color: var(--tab-hover-background-color) !important;
  }
}

:root:not([privatebrowsingmode], [firefoxviewhidden])
  :is(toolbarbutton, toolbarpaletteitem)
  + #tabbrowser-tabs,
:root[privatebrowsingmode]:not([firefoxviewhidden])
  :is(
    toolbarbutton:not(#firefox-view-button),
    toolbarpaletteitem:not(#wrapper-firefox-view-button)
  )
  + #tabbrowser-tabs {
  border-inline-start: none !important;
  padding-inline-start: 0 !important;
}

.toolbar-items {
  margin: 3px;
}

tabs {
  text-transform: var(--tf-text-transform);
}
