/*    __            __  ____            */
/*   / /____  _  __/ /_/ __/___  _  __  */
/*  / __/ _ \| |/_/ __/ /_/ __ \| |/_/  */
/* / /_/  __/>  </ /_/ __/ /_/ />  <    */
/* \__/\___/_/|_|\__/_/  \____/_/|_|    */

@import url("browser.css");
@import url("icons.css");
@import url("navbar.css");
@import url("sidebar.css");
@import url("tabs.css");
@import url("urlbar.css");
@import url("variables.css");

* {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

body {
  background-color: var(--bg);
}
